<h1>Create a New Movie List</h1>

<%= form_with model: @list, local: true do |f| %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
  </div>
  <%= f.submit "Create List", class: "btn btn-primary" %>
<% end %>
